@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
*{
    margin-left: 0px;
    margin-right: 0px;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Share';
    color:#000000;
    font-size: 110%;
}
ul li {
    list-style-type: disc;
}
p, li{
    opacity: 0.5;
}
img{
    border-radius: 5px;
}